name: CI - Build & Push Strapi Image

on:
  push:
    branches: [ "main" ]
    paths:
      - "Dockerfile"
      - "package.json"
      - "package-lock.json"
      - "src/**"
      - "config/**"
      - ".github/workflows/ci.yml"
      - "public/**"
      - "database/**"

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.meta.outputs.tag }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set image tag
        id: meta
        run: echo "tag=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          no-cache: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/strapi-app:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/strapi-app:${{ steps.meta.outputs.tag }}

      - name: Show image tag output
        run: echo "IMAGE_TAG=${{ steps.meta.outputs.tag }}"

